

.s1__slide__number {
    font-size: 30px;
    width: 750px;
    color: rgb(255, 255, 255);
}

.s6__title {
    font-size: 55px;
    width: 750px;
    color: rgb(96, 205, 238);
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -20px;
    text-transform: uppercase;
}

.s6__dependency {
    transform: translateX(-25%) !important;
    width: 315px;
    text-align: center;
}

.s6__kuzzle__wrapper {
    height: 600px;
    width: 900px;
    overflow: auto;
}

.s6__kuzzle__wrapper__zoom {
    overflow: hidden;
}

.s6__kuzzle__image {
    width: 100%;
    transition: all 1s ease-in-out;
}

.s6__kuzzle__image__zoom {
    width: 3678px;
    transform: translate(-1565px, -5490px);
}