.s1__title1,
.s1__title2,
.s1__title3 {
  color: rgb(96, 205, 238);
  width: 750px;
  font-size: 50px;
  text-transform: uppercase;
}

.s1__title2 {
    color: rgb(255, 255, 255);
}

.s1__who {
    font-size: 20px;
    width: 750px;
    color: rgb(255, 255, 255);
}

.s1__slide__number {
    font-size: 30px;
    width: 750px;
    color: rgb(255, 255, 255);
}

.s3__title {
    font-size: 60px;
    width: 750px;
    color: rgb(96, 205, 238);
    margin-left: 16px;
}

.s3__date {
    font-size: 60px;
    color: white;
    transform: translate(-50%, -50%) !important;
    width: 543px;
}

.s1__slide__number__small {
    font-size: 14px;
}

.s7__title {
    font-size: 55px;
    width: 750px;
    color: rgb(96, 205, 238);
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -20px;
    text-transform: uppercase;
}

.s7__code {
    color: white;
    width: 300px;
}

.hide {
    display: none;
}

.red {
    color: #f85149;
}

.purple {
    color: #aba8da;
}

.blue {
    color: #B6E3FF;
}

.green {
    color: #49f8a6;
}

.space1 {
    margin-left: 20px;
}

.space2 {
    margin-left: 40px;
}